/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; 
font-family: 'Share Tech Mono', monospace;
*/

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #444;
    color: #fff;  
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif; 
}
.card {
    border:3px solid #000;
    background: #222;
}
.card-header {
    background: #222;
    font-family: 'Oswald', sans-serif; 
    border-radius: 100%;
}
.card-body {
    background:#333;
    height:400px;
    overflow-y: scroll;
}
.card-text {
    font-family: 'Share Tech Mono', monospace;
}

#upload {
    border-radius: 50%;
    padding:20px;
    background: none;
    border:none;
    outline: none;    
    cursor:pointer;
}
#upload img {
    transition: all 0.1s;
}
#upload:hover img {
    filter: drop-shadow(0 0 2px #000) drop-shadow(0 0 5px #aaa) ;
}